<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/menu.css">
     <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>
<body>
<div class="sidebar">
    <div class="sub-menu">
        <ul>
            <li><a href="/"><span class="material-symbols-outlined">home</span><p>Home</p></a></li>
            <li><a href="Premium/"><span class="material-symbols-outlined">workspace_premium</span><p>Premium</p></a></li>
            <li><a href="AboutUs/"><span class="material-symbols-outlined">info</span><p>About</p></a></li>
        </ul>
    </div>
    <div class="Library">
        <ul>
            <li><a href="#"><span class="material-symbols-outlined">history</span><p>History</p></a></li>
            <li><a href="#"><span class="material-symbols-outlined">library_music</span><p>Playlists</p></a></li>
            <li><a href="#"><span class="material-symbols-outlined">favorite</span><p>Liked Songs</p></a></li>
            <li><a href="#"><span class="material-symbols-outlined">download</span> <p>Downloads</p></a></li>
        </ul>
    </div>
    <div class="setting-group">
        <ul>
            <li><a href="/profile"><span class="material-symbols-outlined">person</span><p>Profile</p></a></li>
            <li><a href="#"><span class="material-symbols-outlined">settings</span><p>Setting</p></a></li>
            <li><a href="Help/"><span class="material-symbols-outlined">help</span><p>Help</p></a></li>
            <li><a href="#"><span class="material-symbols-outlined">feedback</span><p>Send feedback</p></a></li>
        </ul>
        <div style="width:100%; height: 100px; position: absolute; margin-top: auto;"></div>
    </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
